header {
    background: rgb(34, 34, 34);
    color: whitesmoke;
    text-align: center;
    padding: 75px 0px;
    margin-bottom: 25px;
}

.input-form {
    margin: 15px;
}

#submit {
    width: 100%;
}

.header-row {
    font-weight: bold;
}

.card {
    margin-top: 15px;
}